<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>438196427100-ru898i9aib0vm33a9agifb696ojjk595.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.438196427100-ru898i9aib0vm33a9agifb696ojjk595</string>
	<key>API_KEY</key>
	<string>AIzaSyCb_6_7TbTDa7o6BGNH8qILv0lTd_7SkeU</string>
	<key>GCM_SENDER_ID</key>
	<string>438196427100</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ehjezlyApp</string>
	<key>PROJECT_ID</key>
	<string>ehjezly-fd858</string>
	<key>STORAGE_BUCKET</key>
	<string>ehjezly-fd858.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:438196427100:ios:0553d7afae766138a34999</string>
</dict>
</plist>